@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}
/* styles.css or global CSS file */

.custom-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.custom-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
